/*
COLORS:
Dark Sea Blue: #002F2F;
Teal: #046380;
Beige: #EFECCA;
Wet Sand: #A7A37E;
Semiwet Sand: #D8D4A3;
*/

@font-face {
	font-family:ZonaPro-Bold;
	src: url(fonts/ZonaPro-Bold.otf);
}
@font-face {
	font-family:ZonaPro-Thin;
	src: url(fonts/ZonaPro-Thin.otf);
}
@font-face {
	font-family: Aleo-Light;
	src: url(fonts/Aleo-Light.otf);
}

body {
	margin:0;
	background-color: #A7A37E;
	font-family: Aleo-Light;
	color: #002F2F;
}

h1 {
	font-family:ZonaPro-Thin;
}
h1 strong {
	font-family:ZonaPro-Bold;
}
h2 {
	font-family: ZonaPro-Bold;
	display:inline;
	color: #046380;
	font-size:20px;
}
div#record {
	background-color: #EFECCA; /* Beige */
	padding:50px;
	padding-top:75px;
	text-align: center;
	min-height:300px;
}
footer {
	background-color: #A7A37E;
	height: 75px;
	text-align:center;
}
div.notif {
	color: #046380;
	font-style: italic;
	padding:5px;
	background-color: #D8D4A3;
	margin-top:15px;
}
header {
	text-align:center;
	height: 75px;
}
img { width: 100px; }

div#home button {
	background-color: #046380;
	color: white;
	font-family: ZonaPro-Bold;
	font-size:15px;
	border:none;
	width:100%;
	height:50px;
}

button.slot, button#start, button#submit_word {
	background-color: #046380;
	border:none;
	color: #D8D4A3;
	padding:10px;
	margin:3px;
}

button.choosen {
	background: none;
	border:none;
	font-size:15px;
	font-family:ZonaPro-Bold;
	color: #046380;
	background-color: #D8D4A3;
	padding:5px;
	margin:5px;
}



/* ======================== CSS For different devices! ======================== */

/* ------------------------ MEDIUM-LARGE ------------------------ */
/* min-width: If device width is greater than or equal to... 40em */
@media only screen and (min-width:40em) {
	
	div#home {
		float:left;
		margin-left: 10%;
		text-align:left;
		width: 40%;
	}
	div#home button { 
		width: 45%;
		max-width: 450px;
		margin-right:10px;
	}
	img#robos {
		width: 40%;
		max-width:300px;
		margin-right:10%;
	}


}

/* ------------------------ SMALL ------------------------ */
@media only screen and (max-width:40em) {


	div#home p, div#home button {
		width: 100%;
		margin-bottom: 25px;
	}
	img#robos {
		display:none;
	}



}

