
<!DOCTYPE html>
<html>
  <head>
    <title>multiLIB</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js' type='text/javascript'></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/clientSocket.js"></script>
  </head>
  <body>
  	<h1>multiLIB</h1>

  	<a id="makeGame" href="/makeGame">Create Game</a>


  	<hr />
  	<div id="gamelist">
  	</div>

  </body>
</html>