
<!DOCTYPE html>
<html>
  <head>
    <title>multiLIB</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js' type='text/javascript'></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/clientSocket.js"></script>
  </head>
  <body>
  	<h1>Create game</h1>
    <form id="createGame">
        Game name: <input type="text" name="gameName" class="required"><br>
        Select a lib: <input type="text" name="lib" class="required"><br>
        <input type="submit" value="Submit" id="startGame" />
    </form>

    <div id="players">
    </div>


  </body>

<script>
  // Only allow game to be created if form is filled
  $('#startGame').prop('disabled', true);

  function checkFields() {
    $('#startGame').prop('disabled', false);
    $(":input").each(function() {
      if (($(this)).val() === "") {
        $('#startGame').prop('disabled', true);
      }
    })
  }

  $('.required').change(function() {
    checkFields();
  });
</script>

</html>