


<!DOCTYPE html>
<html>
  <head>
    <title>Path Examples</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	HI!! THIS IS A ATEST LIB PAGE!!!
    <% /* This is an example of a comment that visitors won't see b/c it is serverside */ %>

<% for (var i=0; i<allLibs.length; i++) { %>
	<p><%= allLibs[i].body %></p>
<% } %>
  </body>
</html>